<h1>Create a New Area</h1>

<% if false %>
    <%= form_for(@area) do |f| %>
      <ul>
      <% @area.errors.full_messages.each do |error| %>
        <li><%= error %></li>
      <% end %>
      </ul>
      <p>
        <%= f.label :name %><br />
        <%= f.text_field :name %>
      </p>
      <p>
        <%= f.submit %>
      </p>
    <% end %>
<% end %>

<form action="/areas" method="POST">

  <label for="area_name">Area Name</label>
  <input type="text" name="area[name]" id="area_name">
  <br>

  <input type="submit" value="Create area!">
</form>
